name: Executar Sentinela

on:
  schedule:
    - cron: '30 9 * * *' # 06:30 Brasil
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Baixar código do repositório
        uses: actions/checkout@v3

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Instalar dependências
        run: |
          pip install -r requirements.txt

      - name: Rodar Sentinela
        env:
          # AQUI ESTAVA FALTANDO A LIGAÇÃO:
          EMAIL_REMETENTE: ${{ secrets.EMAIL_REMETENTE }}
          SENHA_APP: ${{ secrets.SENHA_APP }}
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
          EMAIL_DESTINO: ${{ secrets.EMAIL_DESTINO }} # <--- ADICIONE ESTA LINHA
        run: python sentinela.py
